body {
	margin:0;
	padding:0;
}

.container {
	margin-top:0px;
	width:900px;
}

#header-container {
	height:120px;
	width:100%;
}

#header h1 {
	margin-left: 120px;
	margin-top: 20px;
	margin-bottom: 0px;
}

#header h2 {
	margin-left: 280px;
}