body {
	background-color: #f7ffef;
	color: #141307;
}

.container {
	background-color: #ffffff;
}

a {
	color: #703919;
}

a:visited {
	color: #3d1f0e;
}

ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}

ul#linkbar li {
	font-size: 15px;
	margin: 2px 40px 0 25px;
	font-family:"Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
}

ul#linkbar li a {
	text-decoration: none;
	color: #703919;
}

ul#linkbar li a:hover {
	color: #f7ffef;
	background-color: #49564c;
}

#home h1, #home h2, #home h3,#home h4,#home h5,#home h6 {
	margin-top: 18px;
	margin-left: 25px;
}

#post h1,#post h2,#post h3,#post h4,#post h5,#post h6, #comments h1,#comments h2,#comments h3,#comments h4,#comments h5,#comments h6 {
	margin: 0 0 0 0;
}

#post ul, #comments ul {
	list-style-type: disc;
}

#home ul, #post ul, #comments ul {
	margin: 5px 20px 20px 35px;
}

#main {
	font-size: 110%;
}

#main h1,h2,h3,h4,h5,h6 {
	color: #703919;
}

#footer-container {
	background:transparent url(/images/footer-bg.png) repeat-x scroll 0 18px;
}

#footer {
	background:#ffffff url(/images/footer-bg.png) repeat-x scroll 0 18px;
}

#contact, #contact a {
	color: #f7ffef;
}